token=MTQxOTM0NzczMTU0NTMyOTc0NA.GfOZQh.TmcILeO9OYt7q1Mh5J2QTDH44bW1YLXt42L_qg
OWNER_IDS = "1307302913240203274", "901487880067776524"
GUILD_LOG_CHANNEL_ID=1422509095034028093
ERROR_LOG_CHANNEL_ID=1422509096799571988
TOPGG_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJib3QiOiJ0cnVlIiwiaWQiOiIxNDE5MzQ3NzMxNTQ1MzI5NzQ0IiwiaWF0IjoiMTc1OTM3OTg5NyJ9.wNceoNDHHSzwBnTJDAahaFL-vwiK-vUHyoRBvoz8DVU
TOPGG_WEBHOOK_AUTH=kOSJ4LUQpo6V_FDIMaLzPFzaQyHkSxJ4_05LLprsoK3L0PI_q8FIcPuxrDcDuhnan6sB
